In [1]:
from preprocessing import *

import pandas as pd

In [4]:
tweets_df = pd.read_csv('data/company_tweets/Tweet.csv')
company_df = pd.read_csv('data/company_tweets/Company_Tweet.csv')

company_df.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [12]:
company_df['ticker_symbol'].unique()

array(['AAPL', 'GOOG', 'GOOGL', 'AMZN', 'MSFT', 'TSLA'], dtype=object)

In [5]:
tweets_df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [6]:
print(tweets_df.shape)
print(company_df.shape)

(3717964, 7)
(4336445, 2)

In [7]:
#joins the moves with actions datasets
tweets_df = tweets_df.merge(company_df, how="inner")

In [8]:
print(tweets_df.shape)

(4336445, 8)

In [11]:
tweets_df.tail()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
4336440,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,TSLA
4336441,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,TSLA
4336442,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL
4336443,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT
4336444,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,AAPL

In [14]:
tweets_df.isna().sum()

tweet_id         0
writer           0
post_date        0
body             0
comment_num      0
retweet_num      0
like_num         0
ticker_symbol    0
dtype: int64

In [13]:
tweets_df =tweets_df.dropna()

In [18]:
tweets_df['tweet_id'].duplicated().sum()

609835

In [19]:
tweets_df['tweet_id'].value_counts()

1159631938304561158    6
1103150719098605569    6
723151287827595264     6
1136120533811171328    6
1017770874655498240    6
                      ..
773525281344786433     1
773525364534423552     1
773525365348196352     1
773525375158620160     1
1212160477159206912    1
Name: tweet_id, Length: 3670691, dtype: int64

In [20]:
tweets_df.to_csv("data/tweets_company.csv")